/* styles.css */

/* Reset styles */

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.ttf') format('truetype');
    /* Add additional font formats if available */
    font-weight: normal;
    font-style: normal;
  }
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    /* Global styles */
    body {
      font-family: Roboto;
      line-height: 0.6;
      background: linear-gradient(black,rgba(20,20,20,0.05)),url("img/negr.jpg") center/cover no-repeat fixed;
    }
    
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0px 20px;
      display: flex;
      

    }
    
    header {
      background-color:transparent;
      color: #fff;
      padding: 51px 0;
      position: relative;
      width: 100%;
      z-index: 1000;
    }
  
    header .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px; /* Added padding */
    }
    
    header h1 {
      font-size: 2.5em; 
      margin-left: 0; /* Removed margin */
    }
  
    nav ul {
    list-style-type: none;
    margin: 0; /* Removed margin */
  }
    
    nav ul li {
    display: inline;
    margin-right: 10px; /* Reduced margin */
  }
  
    nav ul li:last-child {
    margin-right: 0; /* No margin for the last item */
  }
  
    nav ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 1.2em;
      position: relative; /* Add relative positioning */
      transition: all 0.3s ease; /* Add transition for smooth animation */
    }
  
    nav ul li a:hover {
      text-decoration: none;
    }
  
    nav ul li a::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px; /* Adjust the thickness of the underline */
      width: 0%; /* Initially set width to 0 */
      height: 2px; /* Adjust the height of the underline */
      background-color: #fff;
      transition: all 0.3s ease; /* Add transition for smooth animation */
    }
  
    nav ul li a:hover::after {
      width: 100%; /* Expand width to 100% on hover */
    }
  
    .hero {
      padding: 200px 0;
      text-align: center;
      color: #fff;
    }
    
    .hero-content {
      max-width: 650px;
      margin: 0 auto;
    }
    
    .hero h2 {
      font-size: 3em;
      margin-bottom: 35px;
    }
    
    .hero p {
      font-size: 1.2em;
      margin-bottom: 50px;
    }
    
    .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #f1c40f;
      color: #333;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s;
    }
    
    .btn:hover {
      background-color: #e28a07;
    }
    
    .eminem {
      padding: 40px 0 1000px;
      background-color: rgba(255, 255, 255);
    }
    
    .feature {
      text-align: center;
      margin-bottom: 40px;
    }
    
    .feature-img {
      width: 100%;
      max-width: 300px;
      border-radius: 3%;
      margin-bottom: 20px;
    }
    
    .feature h3 {
      font-size: 2em;
      margin-bottom: 10px;
    }
    
    .feature p {
      font-size: 1.1em;
    }
    
    footer {
      background-color: rgba(19, 18, 18, 0.85);
      color: #fff;
      text-align: center;
      padding: 20px 0;
    }
    
    .container img{
        max-width: 300px;
        max-height: 375px;
        display: flex;
        margin-right: 90px;
        margin-left: -100px;
    }

    
    .person {
        position: relative;
        margin: 30px;
    }

    .details {
        display: none;
        position: absolute;
        top: 15%;
        left: 15%;
        transform: translateX(-48%);
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        border-radius: 7px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        overflow: hidden; /* Hide overflowing content */
        height: 0; /* Initially set height to 0 */
        transition: height 0.3s ease; /* Add transition for smoother effect */

        color:black;
        line-height: 1.2;
        
      }
      
      .person:hover .details {
        display: block;
        height: auto; /* Set height to auto to reveal content */
      }