/* styles.css */

/* Reset styles */

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  line-height: 2;
  background: linear-gradient(black, rgba(20, 20, 20, 0.05)), url("img/negr.jpg") center/cover no-repeat fixed;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 20px;
  display: flex;
}

header {
  background-color: transparent;
  color: #fff;
  padding: 25px 0;
  position: relative;
  width: 100%;
  z-index: 1000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

}

header h1 {
  font-size: 3em;
  margin-left: 0;

}

nav ul {
  list-style-type: none;
  margin: 0;

}

nav ul li {
  display: inline;
  margin-right: 10px;

}

nav ul li:last-child {
  margin-right: 0;

}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  position: relative;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  text-decoration: none;
}

nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

.hero {
  padding: 200px 0;
  text-align: center;
  color: #fff;
}

.hero-content {
  max-width: 900px;
  margin: 0 auto;
}

.hero h2 {
  font-size: 4em;
  margin-bottom: 35px;
}

.hero p {
  font-size: 1.4em;
  margin-bottom: 50px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f1c40f;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #e28a07;
}

.eminem {
  padding: 40px 0 1000px;
  background-color: rgba(255, 255, 255);
}

.feature {
  text-align: center;
  margin-bottom: 40px;
}

.feature-img {
  width: 100%;
  max-width: 300px;
  border-radius: 3%;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1.1em;
}

footer {
  background-color: rgba(19, 18, 18, 0.85);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.container img {
  max-width: 300px;
  max-height: 375px;
  display: flex;
  margin-right: 90px;
  margin-left: -100px;
}


.person {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 30px;
}

.person img {
  width: 100%;
  max-height: auto;
  transition: filter 0.3s ease; /* Add transition for smooth effect */
}

.person:hover img {
  filter: blur(5px); /* Apply blur effect on hover */
}

.details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  opacity: 0;
  text-align: center;
  transition: opacity 0.3s ease; /* Add transition for smooth effect */
}

.details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  opacity: 0;
  text-align: center;
  transition: opacity 0.3s ease; /* Add transition for smooth effect */
}

.details2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  opacity: 0;
  text-align: center;
  transition: opacity 0.3s ease; /* Add transition for smooth effect */
}

.person:hover .details {
  opacity: 1; /* Make details visible on hover */
}

.eminem {
  display: flex;
  justify-content: center;
}

.grid-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  
}


.person {
  position: relative;
  overflow: hidden;
}

.person img {
  width: 100%;
  max-height: auto;
}

.details {
  position: absolute;
  top: 300px;
  left: 200px;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 54, 54, 0);
  padding: 20px; /* Adjust padding as needed */
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: left; /* Adjust text alignment */
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-shadow: 1px 1px 2px black;
}


.details h3 {
  margin-bottom: 10px; /* Adjust spacing between title and description */
}

.person:hover .details {
  opacity: 1;
}

.eminem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}



